//healpers
@import "helpers/variables-custom";  //Override bootstrap variables
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";

//bootstrap
//@import "bootstrap";
//font-awesome
//@import "font-awesome/font-awesome";

//  base

@import "base/resets";
@import "base/typography";

// Layouts
@import "layouts/scaffolding";
@import "layouts/grid";
@import "layouts/header";
@import "layouts/main-content";
@import "layouts/footer";
@import "layouts/products";
@import "layouts/single-product";
@import "layouts/map";

//components
@import "components/buttons";
@import "components/slider";
@import "components/aside-box";
@import "components/form";

// Pages
@import "pages/home";
@import "pages/about";











