// colors
$white: #fff;
$orange: #F99704;

$brown: #4A3012;
$medium-brown: #684D2E;  // title
$dark-brown: #311D05;   // border
$text-brown: #3D2D13;  // p
$dark: #4A4A4A;        // shadow

$grey: #D1CBA8;   //  border
$medium-grey: #D7D2A0; //shadow
$light-grey: #7D7D7D;

$yellow: #EEEBCA; //bg-color
$green: #55ad0c;
$light-green: #8ae622;



// Scaffolding
$body-bg: $yellow;

$header-color: $orange;
$secondary-header-color: $white;

$text-color: $text-brown;

$link-color: $orange;
$secontary-link-color: $white;


//header
$header-bg: $brown;
$header-border: $dark-brown;
$header-shadow: $dark;

$link-color-hover: $white;
$link-color-hover-bg: $orange;

$divider-color: $dark-brown;

$menu-button-color: $orange;


//section
$section-bg-color: $white;
$section-border-color: $grey;
$section-shadow: $medium-grey;

$header-title-first-color: $orange;
$header-title-second-color: $medium-brown;


//sidebar
$aside-header-color: $white;
$aside-par-color: $light-grey;

$aside-head-bg-color: $orange;
$sidebar-border-color: $orange;

$contact-button-color: $green;
$contact-button-hover-color: $light-green;

$icons-color: $green;

//footer
$footer-nav-color: $white;

//form
$form-text-color: $light-grey;

//product page colors
$colors: (
    '1': #d44604,
    '2': #573009,
    '3': #a64200,
    '4': #36030b,
    '5': #362905,
    '6': #960000,
    '7': #fa0400,
    '8': #702850,
);
$link-more-color: $white;
$info-box-color: $light-grey;
$product-border-color: $dark;


// Typography
$font-family: georgia, Arial, sans-serif;
$header-font-family: arial,"times new roman",sans-serif;

$font-size: 16px;
$line-height-base: 1.428571429;
$font-weight: 300;
$p-margin-bottom: 15px;


// Media queries breakpoints
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  650px;
$screen-sm-min:              $screen-sm;

$screen-md:                  980px;
$screen-md-min:              $screen-md;

$screen-lg:                  1024px;
$screen-lg-min:              $screen-lg;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$grid: 12;
$gap: 30px;   //30px ~ 36px

//$container-sm: (720px + $gap);
//$container-md: (940px + $gap);
$container: (1024px + $gap);

$breakpoints: (
    'xs' : $screen-xs-min,
    'sm' : $screen-sm-min,
    'md' : $screen-md-min,
    'lg' : $screen-lg-min,
);
